.p-user-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    margin-top: 70px;
}

.p-user-username {
    margin: 20px 0 0;
    font-size: 24px;
    font-width: 900;
}

.p-user-text {
    margin: 20px 0 0;
    font-size: 20px;
}